@charset "utf-8";

* {
    font-family:'ヒラギノ明朝 ProN','YuMincho +36p Kana','Yu Mincho Light',YuMincho,'Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',serif,sans-serif;
    margin:0;
    padding:0;
    list-style:none;
    outline:0;
/*    overflow:hidden; */
/*    height:100vh; */
}

iframe {
    border:solid 1px;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    background-image:url("starmap_bg.png");
    background-repeat: repeat-y;
    background-size:cover;
    font-weight:bold;
}

#container{
    border:none;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    width:100%;
    height:100px;
    line-height:100px;
    background-color:#222;
    color:#ccc;
    text-align:center;
    position: fixed;
    bottom: 0;
}
    /* 動画ラッパー */
    #intro-video-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background: black;
      z-index: 9999;
    }

    /* video.js プレイヤーラッパー */
    #intro-video_wrapper {
      width: 100%;
      height: 100%;
    }

    /* video.js 全体 */
    #intro-video.video-js {
      width: 100% !important;
      height: 100% !important;
    }

    /* 実際の動画サイズ調整 */
    video.vjs-tech {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }


@media only screen and (min-width: 640px) {
/*    .background01{
        background-position:30%;
    }
    section {
    height:1024px !important;
    }*/
}

@media only screen and (max-width: 639px) {
    section {
    height:1024px;
    }
}
